<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">
	
	<bean id="thriftZookeeper" class="hust.software.elon.thrift.ZookeeperFactory"
		destroy-method="close">
		<property name="zkHosts" value="${thrift.zkHosts}" />
		<property name="namespace" value="${thrift.namespace}" />
		<property name="connectionTimeout" value="${thrift.connectionTimeout}" />
		<property name="sessionTimeout" value="${thrift.sessionTimeout}" />
		<property name="singleton" value="true" />
	</bean>
    
    <bean id="testService" class="hust.software.elon.thrift.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="maxActive" value="5" />
        <property name="idleTime" value="1800000" />
        <property name="serverAddressProvider">
        	<bean class="hust.software.elon.thrift.zookeeper.impl.ThriftServerAddressProviderZookeeper">
        		<property name="service" value="hust.software.elon.safety.test.service.TestService" />
        		<property name="version" value="1.0.0" />
        		<property name="zkClient" ref="thriftZookeeper" />
        	</bean>
        </property>
    </bean>
    
</beans>