<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 数据库驱动：选择文件实际地理位置
    <classPathEntry
            location="J:\develop\maven\repository\mysql\mysql-connector-java\5.1.34\mysql-connector-java-5.1.34.jar"/>
-->
    <context id="default" targetRuntime="MyBatis3">
        <!--   <commentGenerator>
              <property name="suppressDate" value="true"/>
              是否去除自动生成的注释 true：是 ： false:否
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>  -->

        <!--数据库链接URL，用户名、密码 本地数据库版本不一致，生成文件时会报错-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://106.14.206.105:3306/safety_audit?useSSL=false" userId="elon"
                        password="Elon.12345">
        </jdbcConnection>

        <!--<javaTypeResolver>-->
        <!--<property name="forceBigDecimals" value="false"/>-->
        <!--</javaTypeResolver>-->

        <!-- 生成模型的包名和位置 -->
        <javaModelGenerator
                targetPackage="hust.software.elon.domain"
                targetProject="src/main/java">
            <!-- 是否允许子包，即targetPackage.schemaName.tableName -->
            <property name="enableSubPackages" value="true"/>
            <!-- 是否对model添加 构造函数 -->
            <!--<property name="constructorBased" value="true"/>-->
            <!-- 是否对类CHAR类型的列的数据进行trim操作 （去空）-->
            <property name="trimStrings" value="true"/>
            <!-- 建立的Model对象是否 不可改变  即生成的Model对象不会有 setter方法，只有构造方法 -->
            <!--<property name="immutable" value="false"/>-->
        </javaModelGenerator>

        <!-- 生成映射文件的包名和位置 -->
        <!-- 映射文件生成所在的目录为每一个数据库的表生成对应的SqlMap文件 -->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>


        <!-- 客户端代码，生成易于使用的针对Model对象和XML配置文件 的代码
                 type="ANNOTATEDMAPPER",生成Java Model 和基于注解的Mapper对象
                 type="MIXEDMAPPER",生成基于注解的Java Model 和相应的Mapper对象
                 type="XMLMAPPER",生成SQLMap XML文件和独立的Mapper接口
         -->

        <!-- 生成DAO的包名和位置 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="hust.software.elon.mapper"
                             targetProject="src/main/java">
            <!-- enableSubPackages:是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 要生成的表(数据库中的表名或视图名)-->
        <!-- domainObjectName是实体类名

        <table tableName="user_info" domainObjectName="User" enableCountByExample="true"
               enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true"></table>
                -->
        <!--
                <table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"
                       enableUpdateByExample="false" enableDeleteByExample="false"
                       enableSelectByExample="false" selectByExampleQueryId="false"></table>
                <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"
                       enableUpdateByExample="false" enableDeleteByExample="false"
                       enableSelectByExample="false" selectByExampleQueryId="false"></table>
                -->
        <!--        <table tableName="" domainObjectName="" ></table>-->
        <!--
        <table tableName="item" domainObjectName="ItemDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>
        <table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>
         -->
        <!--
        <table tableName="order_info" domainObjectName="OrderDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>
        <table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>
         -->

        <!--
        <table tableName="promo" domainObjectName="PromoDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false"></table>
               -->
<!--        <table tableName="sys_file" domainObjectName="SysFile" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false" />-->
<!--        <table tableName="sys_user" domainObjectName="SysUser" enableCountByExample="false"-->
<!--               enableUpdateByExample="false" enableDeleteByExample="false"-->
<!--               enableSelectByExample="false" selectByExampleQueryId="false" />-->
        <table tableName="pipeline_audit_log" domainObjectName="PipelineAuditLog" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false" />
    </context>
</generatorConfiguration>


